@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <div class="image" style="background-image: url(Images/headerImg.svg); background-size: contain; background-repeat: no-repeat;">
        <div class="container">
            <nav class="buttons navbar justify-content-end pt-3">
                <div class="nav-item mx-3">
                    <a class="linkServis nav-link">
                        О сервисе
                    </a>
                </div>
                <div class="nav-item">
                    <button type="button" class="btn btn-light px-3 btnEnter">Войти</button>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="text-center container">
    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
    <h1 class="display-4">Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то 
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то 
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
        Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
    Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то Что-то
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
